.RSVP {
  display: flex;
  flex-direction: column;  
}

/* .RSVP div {
  flex: 1;
  border: 1px solid #333;
} */

.GameDetail_Date {
  display: flex;
  justify-content: center;  
}

.month, .day {
   padding: 0 5px
}
.button_container {
  display: flex;
  justify-content: space-evenly;  
}

.RSVP_button {
  width: 100px;
}


@media only screen and (min-width: 1025px) {

}