.Hero {
  background-color: #eee;
  max-width: 1024px;
  margin: auto;
}
.Hero h1 {
  font-size: 26px;
  font-family: 'Russo One', sans-serif;
  letter-spacing: .1em;
  margin: 0;  
}

@media only screen and (min-width: 768px) {
  .Hero h1 {
    font-size: 36px;
  }
}