* {
  box-sizing: border-box;
}

main {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin-top: 50px;
  min-height: calc(100vh - 41px);
  /* max-width: 1024px; */
  margin: auto;
  padding-top: 50px;
  
}

.background_section {
  max-width: 1024px; 
  background-color: #eee;
  margin: auto;
  min-height: calc(100vh - 145px);
}

nav,
footer {
  /* padding: 1% 0; */
  background: rgb(1,64,43);
  background: linear-gradient(0deg,
   rgba(1,64,43,1) 0%,
   rgba(2,113,77,1) 25%,
   rgba(1,162,99,1) 100%);
   color: rgb(223, 221, 221);
  /* background-color: #01A263; */
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  z-index: 10;    
  width: 100%;  
  height: 50px;
  transform: translateX(-50%)
}

footer {
  /* line-height:24px; */
  padding: 10px 0;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  line-height: 35px;
  vertical-align: middle;
  width: 100%;
  max-width: 1024px;
}

nav a {
  text-decoration: none;
  color: rgb(223, 221, 221);
}

header {
  padding: 0px 15px 0px;
}

h2 {
  margin-top: 0;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #eee;
  border-top: 2px solid #dedede;
}

/* section:nth-child(even) {
  background-color: #ddd;
} */

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.app_name {
  font-size: 1.5em;
}

legend {
  width: 100%;
}

.App {
  text-align: center;
  /* max-width: 1024px; */
  margin: auto;
  box-shadow: 2px 10px 10px;
  min-height: calc(100vh);
  background-color: #eee;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    background: url('https://benchboss.s3.us-east-2.amazonaws.com/Becnhboss_Background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}