.MessagePreview_container {
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  position: relative;
}

/* .latest-message a{
  border: 1px solid #333;
} */

.MessagePreview_title {
  font-size: 16px;
  text-align: left;
}

.MessagePreview_author, .MessagePreview_date {
  font-size: 14px;
  text-align: right;
}

.comment_icon {
  /* display: inline; */
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 50%;
  top: 5px;
  right: 5px;  
}